@model web.Models.Band

@{
    ViewData["Title"] = "Create";
}

<h1>Vstvari</h1>

<h4>Bend</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="BandName" class="control-label">Ime Benda</label>
                <input asp-for="BandName" class="form-control" />
                <span asp-validation-for="BandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music" class="control-label">Zvrst</label>
                <select asp-for="Music" class="form-control">
                    <option>rock</option>
                    <option>metal</option>
                    <option>punk</option>
                    <option>pop</option>
                    <option>indie</option>
                    <option>hiphop</option>
                    <option>alternative</option>
                    <option>blues</option>
                    <option>jazz</option>
                </select>
                <span asp-validation-for="Music" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazaj na seznam</a>
</div>

