@model web.Models.Band

@{
    ViewData["Title"] = "Delete";
}

<h1>Izbris</h1>

<h3>Ste prepričani?</h3>
<div>
    <h4>Band</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Music)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Music)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BandID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Nazaj na seznam</a>
    </form>
</div>
