@model IEnumerable<web.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Prihajajoči dogodki</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<div class="card-columns">


    @foreach (var item in Model)
    {

        var img = item.img_src;

        <div class="card">
            
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.EventName)</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.EDate)</h6>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Opis)</p>
                @*<img class="card-img-top" src="@img" alt="image" />*@
                
                <a href="Reservations" target="Create" class="btn btn-primary">Rezerviraj</a>
                
            </div>
        </div>

    }


</div>
